.c{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 100%;
}

.currentparams{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
}

.cwrap{
  display: flex;
}

.slash{
  margin: 0 .5rem 0 .5rem;
}

.results > * {
  margin: 1rem 0 1rem 0;
}

