.recomendations{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cerulean);
  color: var(--text-white);
  padding: 1rem 0 1rem 0;
}

.recomendationswrap{
  width: 100%;
  display: flex;
}