:root{
  --orange: #ffb500;
  --yellow: #ffc762;
  --violet: #9263d9;
  --blue: #67d4ec;

  --white: #ffffff;
  --black: #101921;
  --grey: #d9dae4;

  --text-white: #ffffff;
  --text-black: #000000;
  --text-grey: #a8a8ac;
  
  --width-wrapper: 1500px;
}

/* *{
  border: dotted 1px red;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
