.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  white-space: nowrap;
  padding: 1.5rem 0 1.5rem 0;
  letter-spacing: .4em;
  font-size: 2rem;
}