.search{
  display: flex;
  flex: 1;
  box-shadow: 0px 0px 9px 0px rgba(66, 68, 90, 1);
  border-radius: 1rem;
  background-color: var(--text-white);
  position: relative;
}

.results{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 2rem);
  background-color: var(--platinum-dark);
  z-index: 99;
  max-height: 30rem;
  overflow-y: scroll;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search > *{
  font-size: 1.2rem;
  padding: .3em;
  border: none;
}

.text{
  display: flex;
  flex: 1;
  width: 3rem;
  color: var(--text-black);
  background-color: var(--text-white);
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
}

.select{
  background-color: var(--text-white);
  color: var(--text-black);
}

.submit{
  border-radius: .6rem;
  background-color: var(--pistachio);
  color: var(--text-white);
}

.text:focus, .select:focus, .submit:focus{
  outline: none;
}