.header{
  display: flex;
  place-content: center;
  background-color: var(--main-lighter);
  padding: .5rem 0 .5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}