.widthwrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  /* width: calc(100% - 2rem); */
  width: 100%;
  max-width: var(--wrapper-width);
  position: relative;
}