.list{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  width: 100%;
  flex-direction: column;
}
.entry{
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 2px var(--platinum-dark);
  padding: .6rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.desc{
  font-size: .8rem;
  text-wrap: balance;
  color: grey;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  align-items: center;
}